* {
    margin: 0;
    padding: 0;
}

.elga {
    background-color: #000;
    font-family: sans-serif;
    border-bottom: 8px solid var(--gray);
}
/*distanza tra titolo, parte sup e parte inf*/
div.faq {
    padding: 3rem;
    color: white;
    justify-content: center;
}

/*stile di h1 - domande frequenti*/
div.faq h1{
    text-align: center;
    font-size: 3rem;
}

div.questions {
    max-width: 41rem;
    margin: 0 auto;
}

div.question {
    position: relative;
    background-color: #303030;
}

/*distanza tra il titolo delle question e l'answer*/
div.question .header {
    padding: 1.25rem 1.8rem;
    border-bottom: 0.2rem solid #000;
    cursor: pointer;
    font-size: 1.2rem;
    color: white;
    display: block;
    background: #303030;
}

div.question div.content {
    padding: 0 1.8rem;
    font-size: 1rem;
    color: white;
    max-height: 0;
    transition: 0.2s;
    overflow: hidden;
    margin-bottom: 0.2rem;
}

div.question svg {
    height: 30px;
    width: 30px;
    right: 10px;
    top: 10px;
    position: absolute;
    transform: rotate(45deg);
    margin-top: 5px;
    margin-right: 5px;
}

div.question input[type="checkbox"]:checked ~ .header svg {
    transform: rotate(0deg);
    transition: 0.4s;
}
div.question input[type="checkbox"] ~ .header svg {
    transform: rotate(45deg);
    transition: 0.4s;
}

div.question input[type="checkbox"]:checked ~ div.content {
    padding: 30px 30px;
    max-height: 600px;
    transition: all 0.5s ease;
}

div.question input[type="checkbox"] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
}

div.netflix {
    padding: 2rem;
    color: white;
    text-align: center;   
}

.form-body {
    padding: 20px 10px;
    align-content: center;
}

.input-netflix {
    min-width: 450px;
    height: 60px;
    align-content: center;
}

.form-button {
    background-color: #e50914;
    font-size: 1.2rem;
    font-weight: 400;
    color: #fff;
    border-radius: 0;
    line-height: normal;
    text-decoration: none;
    padding: 1.14rem 3rem;
    margin: 0;
}

.form-button:hover {
    box-shadow: 0 1px 0 rgba(0,0,0,.45);
}

@media screen and (max-width: 550px;) {
    div.questions {
    flex-direction: column-reverse;
    align-items: stretch;
    justify-content: center;
}

}